<div id="<%= dom_id task_activity %>">
  <div class="card-header" style="background-color: #cbcef4; border-color: #cbcef4;">
    <h3 class="mt-2"><%= task_activity.title %></h3>

  </div>
  <div class="card-body">
    <p class="lead"><%= task_activity.description %></p>
  </div>

  <div class="card-footer" style="background-color: #f8f8f8; border-color: #f8f8f8;">
    <strong>Completed:</strong>
    <%= task_activity.completed %>
</div>
</div>

