<div class="container mt-4 mb-4">
<h1>Editing task activity</h1>

<%= render "form", task_activity: @task_activity %>

<br>

  <%= link_to "Show this task activity", @task_activity %> |
  <%= link_to "Back to task activities", task_activities_path %>
</div>
